# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: RocWong's Blog
subtitle:
description:
keywords: 前端;移动端;技术分享;算法;总结;
author: RocWong
language: zh-CN
timezone:

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://www.rocwong.cn/
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# 导航栏，建议以/结尾。
menu:
  - name: 主页
    icon: fas fa-home
    url: /
  - name: 项目
    icon: fas fa-gavel
    url: project/
  - name: 归档
    icon: fas fa-archive
    url: archives/
  - name: 朋友
    icon: fas fa-users
    url: friends/
  - name: 关于
    icon: fas fa-user
    url: about/

# 页脚社交信息
social:
  - icon: fas fa-envelope
    url: mailto:me@rocwong.cn
  - icon: fab fa-github
    url: https://github.com/rocwangv
  - icon: fas fa-music
    url: https://music.163.com/#/user/home?id=64405940

widgets:
  - widget: author
    avatar: https://cdn.jsdelivr.net/gh/rocwangv/assets/avatar/avatar.png
    jinrishici: true
    social: true
  - widget: tagcloud
  - widget: category
  - widget: toc

valine:
  enable: true # 如果你想用Valine评论系统，请设置enable为true
  app_id: gYp5OOFzzylucF3XlyJk6T5a-gzGzoHsz # 必填
  app_key: fzh2pJLE0OYsBEt718W40wfB # 必填
  guest_info: nick,mail,link #valine comment header info
  placeholder: 快来评论吧~ # valine comment input placeholder(like: Please leave your footprints )
  avatar: monsterid # gravatar style https://valine.js.org/avatar
  pageSize: 10 # comment list page size
  verify: false # valine verify code (true/false)
  notify: false # valine mail notify (true/false)
  lang: zh-cn

  # Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace:

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
# category_map中的key展示在页面中， 但是 value会出现在url中
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: material-x

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type: git
  repo: https://github.com/rocwangv/rocwong-blog-static.git
  branch: master
